.font{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color:rgb(82, 78, 78)
}
.mainhead{
    font-size: 2.5rem;
    color: wheat;
}
.login-div{
    background-image: url('../../../public/layered-waves-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

